fastapi==0.115.12
uvicorn==0.34.0
pydantic==2.11.1
starlette==0.46.1
typing-extensions==4.13.0
python-dotenv==1.0.1
motor
pymongo
python-jose
bcrypt
passlib[bcrypt]
jose
jwt
python-multipart
pandas
ollama
psycopg
aerospike
