 services:
  # new-audio:
  #   container_name: new-audio
  #   image: nginx:alpine
  #   ports:
  #     - "0.0.0.0:3002:3002"
  #   volumes:
  #     - ./conf/new_audio.conf:/etc/nginx/conf.d/default.conf
  #     - ./data/audio:/usr/share/nginx/newaudio/newaudio
  # web:
  #   container_name: web
  #   image: nginx:alpine
  #   ports:
  #     - "0.0.0.0:3000:3000"
  #   volumes:
  #     - ./build_web/web:/usr/share/nginx/html
  #     - ./conf/web.conf:/etc/nginx/conf.d/default.conf
  postgres1:
    container_name: postgres1
    image: postgres:17.4
    ports:
      - 5433:5432
    environment:
      POSTGRES_USER: polyglots
      POSTGRES_PASSWORD: polyglots
      POSTGRES_DB: polyglots
      shared_buffers: 4GB 
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    shm_size: 4GB
  
  # aerospike:
  #   image: aerospike:ce-8.1.0.1
  #   container_name: aerospike
  #   ports:
  #     - 3100:3000
  #   volumes:
  #     - ./data/aerospike:/var/lib/aerospike

  # content_server:
  #   container_name: content_server
  #   image: content_server:polyglots
  #   build:
  #     context: content/content_server
  #     dockerfile: Dockerfile.dev

  #   ports:
  #     - 8001:8000
  #   volumes:
  #     - ./content/content_server/src:/app
  #   environment:
  #     - POSTGRES_DB=polyglots
  #     - POSTGRES_PORT=5432
  #     - POSTGRES_HOST=postgres1
  #     - POSTGRES_USER=polyglots
  #     - POSTGRES_PASSWORD=polyglots
  

  student_server:
    container_name: student_server
    image: student_server:polyglots
    build:
      context: student/server
      dockerfile: Dockerfile.dev
    ports:
      - 8004:8004
    volumes:
      - ./student/server/src:/app
    environment:
      - POSTGRES_DB=polyglots
      - POSTGRES_PORT=5432
      - POSTGRES_HOST=postgres1
      - POSTGRES_USER=polyglots
      - POSTGRES_PASSWORD=polyglots
    command: 
      - uvicorn
      - main:app
      - --host
      - 0.0.0.0
      - --port
      - "8004"
      - --reload
  